{% extends 'head-foot.html' %}

{% block title %} About Us | Tripsee {% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'aboutusStyle.css' %}">

    <main>
        <div class="abtus-container">
            <div class="abtus">
                <h2 class="team" style=" text-align: center; color: white">About Us</h2> <br>
                <p style="text-align: center; colour: black">At Tripsee you can browse different destinations and add them to your own personalized travel itinerary!</p>
                <br>
            </div>
        </div>

        <br>
        <h2 style="text-align: center; color: white">~~~~~~~~~~~~~~~~୨୧~~~~~~~~~~~~~~~~</h2> <br><br>

        <h2 style="text-align:center; color: white">Our Team</h2><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/static/images/alisha.jpg" style="width:320px" style="height: 320px">
                    <div class="container">
                        <br>
                        <h2>Alisha Velji</h2>
                        <p class="title">Scrum Master</p>
                        <br>
                        <p>I like art, iced coffee and Taylor Swift.</p><br>
                        <br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/images/vaniya.jpg" style="width:320px" style="height: 320px">
                    <div class="container">
                        <br>
                        <h2>Vaniya Sharma</h2>
                        <p class="title">Product Owner</p>
                        <br>
                        <p>I love music, movies and travel.</p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/static/images/karma.jpg" style="width:320px" style="height: 320px">
                    <div class="container">
                        <br>
                        <h2>Karma Cappuccino</h2>
                        <p class="title">Developer</p>
                        <br>
                        <p>Eat. Sleep. Game. Repeat.</p>
                        <br><br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/images/rasha.jpg" style="width:320px" style="height: 320px">
                    <div class="container">
                        <br>
                        <h2>Rasha Ibrahim</h2>
                        <p class="title">Developer</p>
                        <br>
                        <p>I like cats, cats and more cats!</p>
                        <br><br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/images/contact_placeholder.jpg" style="width:320px" style="height: 320px">
                    <div class="container">
                        <br>
                        <h2>Ryan Gonzalez</h2>
                        <p class="title">Developer</p>
                        <br>
                        <p>I enjoy graphic design and listening to music in my free time.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock %}