{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} Tripsee {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'header-footer.css' %}" />
</head>
<body>

<!-- Header -->
<header>
     <div class="container">
         <div class = "navbar">
             <img src = "static/images/placeholder-logo-5.png" class = "logo">
         <nav>
             <ul>
                 <li><a href="{% url 'index' %}">Home</a></li>
                 <li><a href="{% url 'itinerary' %}">Trip Itinerary</a></li>
                 <li><a href="{% url 'aboutus' %}">About Us</a>
                 <li><a href="#">Expense tracking</a></li>
                 <li><a href="#">Search</a></li>
                 <li><a href="#">Login/Signup </a></li>
             </ul>
         </nav>

        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<!-- Footer -->
<div class="foot-container">
    <footer>
        <p><a href="{% url 'contact-us' %}">Contact-us</a></p>
        <p>&copy; 2024 Tripsee.ca. All rights reserved.</p>
    </footer>
</div>
</body>
</html>