{% extends 'head-foot.html' %}

{% block title %} Home | Tripsee {% endblock %}

{% block content %}
    <!-- Main Content -->
    <main>
        <div class="user-actions">
            <p>Create an Account</p>
            <a href="{% url 'sign-up' %}">Sign Up Here</a>
            <p>Already have an account?</p>
            <p><a href="{% url 'login' %}">Login Here</a></p>
        </div>
        <h2>About Us</h2>
        <p>
            This is a brief description of our website.
        </p>

        <h2>Featured Content</h2>
        <p>
            Showcase some featured content, products, or services here.
            Add images, text, and links to engage visitors.
        </p>
    </main>
{% endblock %}
