{% extends 'head-foot.html' %}

{% block title %} Home | Tripsee {% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Main Content -->
    <main>


         {% if user.is_authenticated %}
        <h3>Hello {{first_name}}!</h3>
        <h4>You're successfully logged in.</h4>

        {% endif %}
        <div class = "row">
            <div class = "col">
                <h1>Tripsee</h1>
                <p>Lorem Ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Nulla erat orci, pulvinar eget neque a.</p>
                <button type ="button">Explore</button>
            </div>
            <div class="col card-container">
                <div class = "card card1">
                    <h5>Already have an account? Need to create one?</h5>
                    <p><a href="{% url 'sign-up' %}">Sign Up Here</a></p>
                    <p><a href="{% url 'login' %}">Login Here</a></p>
                </div>
                <div class = "card card2">
                    <h5>Search Destinations</h5>
                    <p><a href="{% url 'search' %}">Search</a></p>
                </div>
                <div class = "card card3">
                    <h5>About Us</h5>
                    <p><a href="{% url 'aboutus' %}">Get to know us more.</a></p>
                </div>
                 <div class = "card card4">
                    <h5>Itinerary</h5>
                    <p><a href="{% url 'itinerary_list' %}">create your trip</a></p>
                 </div>
                </div>
        </div>
    </main>
{% endblock %}
