*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-right: 5px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.au-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  margin: 5px;
}

.about {
  padding: 50px;
  text-align: center;
  color: white;
}

.containerr {
  padding: 0 8px;
}

.containerr::after, .roww::after {
  content: "";
  clear: both;
  display: table;
}


