{% extends 'head-foot.html' %}

{% block title %} Login | Tripsee {% endblock %}

{% block content %}
<h3>Login to access your account</h3>

<form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" Required>
        </div>
            <br>

        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter your password" Required>
        </div>
            <br>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}